<% if post.favorited_by?(current_user) %>
  <span>
    <%= link_to(post_favorites_path(post), class:"text-dark", method: :delete, remote: true) do %>
      <i class="fa fa-heart" id="favorite-btn" aria-hidden="true" style="color: red;"></i>
      <span><%= post.favorites.count %></span>
    <% end %>
  </span>
<% else %>
  <span>
    <%= link_to(post_favorites_path(post), class:"text-dark", method: :post, remote: true) do %>
      <i class="far fa-heart" id="un-favorite-btn" aria-hidden="true"></i>
       <span><%= post.favorites.count %></span>
    <% end %>
  </span>
<% end %>