<div class="notifications-container">
  <div class="notifications-contents">
    <h1>Notifications</h1>
    <div class="row">
      <div class="col-10">
      </div>
      <div class="col-2">
        <div class="delete-btn text-center" id="notifications-delete-btn">
          <%= link_to user_notifications_destroy_all_path, method: :delete do %>
            <span class="trash" id="notifications-trash">
              <span></span>
              <i></i>
            </span>
            <p style="color: black;">全て削除</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="notifications-index">
      <hr>
      <% if @notifications.exists? %>
        <div class="container">
          <%= render @notifications %>
        </div>
      <% else %>
        <h4 class="mt-5">通知はありません</h4>
      <% end %>
    </div>
  </div>
 </div>
