<div class="group-container">
  <div class="group-contents">
    <h1>Edit Group</h1>
    <div class="group-form">
      <%= form_with model: @group, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= render "groups/group_form", group: @group, f: f %>
        <span class="group-action">
          <%= f.submit '更新する' %>
        </span>
      <% end %>
    </div>
  </div>
</div>
