<div class="col-sm-4">
  <div class="flash-message" id="flash-message-top">
    <%= render 'layouts/flash_messages' %>
  </div>
</div>
<div class="main-visual">
  <div class="row">
    <div class="main-visual-content col-lg-4 col-md-5 col-sm-4 col-12">
      <p class="main-visual-text">
        Travel</br>
        Records
      </p>
    </div>
  </div>
</div>
<div id="about-visual">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div id="about-image"></div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="about-text">
          <div class="about-title text-left">
            <p>concept</p>
            <h2 class="about-visual-text">思い出をポケットに</h2>
          </div>
          <div class="box text-left">
            <p>
              ふとスマホの中の写真フォルダを覗くと、一度も見返すことのなかった写真が多くあることに気づきませんか。<br>
              せっかく撮った思い出の写真なのに気がつけば新しい写真に埋もれて目にふれないところへと追いやられている。
              いざ写真を見返そうと思っても、大量の写真に埋もれて目的の写真を中々見つけ出すことができない。
              そんな経験が誰にでもあるはず。<br>
            </p>
            <p>
              もっと簡単に思い出の写真を管理したい。<br>
              気軽に思い出の写真を友達と共有したい。<br>
            </p>
             <p>
              そんな悩みを解決するこのサイト！<br>
              思い出の写真を日付や種類でまとめて管理し、フレンドとシェアしよう！！
             </p>
          </div>
        </div>
      </div>
    </div>
    <div class="start row">
      <a href="/users/sign_up">START</a>
    </div>
  </div>
</div>