<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      Travel</br>
      Records
    </p>
  </div>
</div>
<div class="about-visual">
  <p class="about-visual-text">
      思い出をポケットに
  </p>
</div>