<% if @post.errors.any? %>
  <div class="alert alert-danger">
    <h2>
      <%= I18n.t("errors.messages.not_saved", count: @post.errors.count, resource: @post.class.model_name.human.downcase)%>
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>