<div class="post-container">
  <div class="post-contents">
    <h1>Edit</h1>
    <div class="post-form">
      <%= form_with model: @post, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= render "posts/post_form", post: @post, f: f %>
        <span class="post-action">
          <%= f.submit "更新する" %>
        </span>
      <% end %>
    </div>
  </div>
</div>





