<div class="container px-5 mt-5 px-sm-0">

  <h2>編集</h2>

  <div class="row mt-3 mb-5" style="margin-left: 0; margin-right: 0; padding-left: 0;">
    <%= form_with model: @post, local: true do |f| %>
      <%= render "posts/post_form", post: @post, f: f %>
      <%= f.submit "更新する", class: "btn btn-success", style: "width: 125px;" %>
    <% end %>
  </div>

</div>