<div class="new-container">
  <div class="new-contents">
    <h1>Let's Post !!</h1>
    <div class="new-form">
      <%= form_with model: @post, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= render "posts/post_form", post: @post, f: f %>
        <%= f.submit '投稿' %>
      <% end %>
     </div>
  </div>
</div>
