/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";

html{
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  width: 100%;
  position: relative;
  min-height: 100%;
  background: white;
 }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

ul {
  text-align: center;
}

/* ========================================================================== */
/* header                                                                     */
/* ========================================================================== */

header {
  background: black;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.container {
  margin-right: 170px;
}

.zigzag {
  -webkit-mask-image: linear-gradient(0deg, transparent 30px, white 30px), linear-gradient(-135deg, white 15px, transparent 15px), linear-gradient(135deg, white 15px, transparent 15px);
  -webkit-mask-position: left bottom;
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-size: 100% 100%, 30px 30px, 30px 30px;
}

.nav-item {
  margin-left: 60px;
}

.nav-link {
  padding: 0;
}

.nav-item i {
  font-size: 22px;
}

.link-text {
  font-size: 12px;
}

.nav_right {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.nav_right li {
  width: 170px;
  color: white;
  font-size: 18px;
  display: block;
  height: 60px;
  position: relative;
  line-height: 60px;
  text-align: left;
  padding-left: 30px;
}

#nav_right_1 {
  background-color: #00428f;
	color: white;
	overflow: hidden;
	text-decoration: none;
	position: relative;
	}

#nav_right_1:before {
	background-color: white;
	color: #00428f;
	content:"";
	display: block;
	height: 100%;
	left: -96%;
	opacity: 0.3;
	position: absolute;
	transition: .4s;
	top: 0px;
	width: 100%;
	pointer-events : none;
}

#nav_right_1:hover:before {
  left:0;
}

#nav_right_2 {
  background: black;
  color: white;
	overflow: hidden;
	text-decoration: none;
	position: relative;
	}

#nav_right_2:before {
	background: white;
	content:"";
	display: block;
	height: 100%;
	left: -96%;
	opacity: 0.3;
	position: absolute;
	transition: .4s;
	top: 0px;
	width: 100%;
	pointer-events : none;
}

#nav_right_2:hover:before {
  left:0;
}

/* ========================================================================== */
/* footer                                                                     */
/* ========================================================================== */

footer {
  background: black;
  height: 60px;
}

footer p {
  color: #FFFFF0;
}