/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap";

html{
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  width: 100%;
  position: relative;
  min-height: 100%;
  background: white;
 }

a {
  text-decoration: none;
  color: white;
}

/* ========================================================================== */
/* header                                                                     */
/* ========================================================================== */

header {
  background: black;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.zigzag {
  -webkit-mask-image: linear-gradient(0deg, transparent 30px, white 30px), linear-gradient(-135deg, white 15px, transparent 15px), linear-gradient(135deg, white 15px, transparent 15px);
  -webkit-mask-position: left bottom;
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-size: 100% 100%, 30px 30px, 30px 30px;
}

.nav-link {
}

/* ========================================================================== */
/* footer                                                                     */
/* ========================================================================== */
footer {
  background: #000033;
}

footer p {
  color: #FFFFF0;
}