// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-container {
  width: 320px;
  display: inline-block;
  padding: 80px 15px;
  text-align: center;
}

.my-message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  float: right;
}

.my-message p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.my-message p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.friend-message {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  float: left;
  display: flex;
  flex-direction: column;
}

.faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
  display: flex;
  flex-direction: column;
}

.faceicon img{
  width: 90%;
  height: auto;
  border-radius: 50%;
}

.friend-message .text-container {
  width: 100%;
  text-align: left;
}

.friend-message .text {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.friend-message .text:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.friend-message .text p {
  margin: 0;
  padding: 0;
  max-width: 250px;
}

.message-form {
  display: inline;
}

#message-send {
  width: 200px;
  height: 30px;
  text-align: center;
  margin: 50px;
  border-radius: 10px;
}

.fa-caret-right {
  font-size: 35px;
  background-color: none;
}