// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.polaroid {
  background-color:#ffffff;
  border-radius:5px;
  box-shadow: 3px 3px 3px #999;
  position:relative;
  padding:10px;
  padding-bottom:30px;
  width:400px;
  height:400px;
}

 .card-list-containar {
  background-image: image-url(/assets/black.png);
 }