// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.polaroid-list-containar {
 background-image: url(black.jpg);
 min-height: 100%;
}

.polaroid {
 padding: 0 30px;
 margin-bottom: 80px;
 background: white;
}

.polaroid-header {
 height: 60px;
 text-align: left;
 padding-top: 10px;
 position: relative;
}

.date {
 font-size: 19px;
 position: absolute;
 top: 0;
 right: -70px;
 margin: 0;
 padding: 10px;
 background: rgba(255, 255, 245, 0.8);
 box-shadow: 0 2px 4px #555;
 transform: rotate(15deg);
 z-index: 5;
}

.polaroid-title {
 font-size: 25px;
 font-family: MyFont;
}

.polaroid-img {
 width: 100%;
 object-fit: contain;
}

.polaroid-body {
 padding: 30px 0;
 text-align: left;
}

.username {
 color: black;
}

.profile-image:hover {
 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
 -webkit-transform: translateY(-5px);
 transform: translateY(-5px);
}

.polaroid-text {
 min-height: 65px;
}

/* ========================================================================== */
/* icon                                                                       */
/* ========================================================================== */

.icon a{
 font-size: 19px;
}

.favorite {
 width: 70px;
 display: inline;
 position: absolute;
 bottom: 0;
 left: 0;
 display: inline;
}

.fa:hover {
 font-size: 25px;
}

.comment {
 width: 70px;
 position: absolute;
 bottom: 0;
 left: 75px;
}

.far:hover {
 font-size: 24px;
}

/* ========================================================================== */
/* tag                                                                        */
/* ========================================================================== */

.tag {
 margin-bottom: 30px;
}

.badge1 {
 margin-left: 10px;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.badge1 a {
 line-height: 26px;
	position: relative;
	display: inline-block;
	height: 26px;
	margin: 0 0px 10px 10;
	padding: 0 20px 0 23px;
	-webkit-transition: color 0.2s;
	        transition: color 0.2s;
	color: #455a64;
	border-radius: 0 3px 3px 0;
	background: #cfd8dc;
}

.badge1 a::before, .badge1 a::after {
	background: #fafcfc;
}
.badge1 a::before {
	position: absolute;
	top: 10px;
	left: 3px;
	width: 6px;
	height: 6px;
	content: '';
	border-radius: 10px;
}
.badge1 a::after {
	position: absolute;
	top: -1px;
	left: -6px;
	width: 0;
	height: 0;
	content: '';
	border-width: 14px 8px 14px 0;
	border-style: solid;
	border-color: transparent #cfd8dc transparent transparent;
	border-radius: 4px;
}
.badge1 a:hover {
	color: #ffffff;
	background-color: #ec407a;
}
.badge1 a:hover::after {
	border-color: transparent #ec407a transparent transparent;
}

/* ========================================================================== */
/* no contents                                                                */
/* ========================================================================== */

.nocontents {
 color: white;
 font-size: 20px;
 margin: 50px 0 100px 0;
}

.lets-text {
 color: white;
 font-size: 18px;
 margin-bottom: 20px;
}

.btn, a.btn {
 width: 230px;
 font-size: 25px;
 font-weight: 700;
 line-height: 30px;
 position: relative;
 display: inline-block;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
 text-align: center;
 vertical-align: middle;
 text-decoration: none;
 letter-spacing: 0.1em;
 border-radius: 0.5rem;
}

a.btn-border-shadow {
 padding: calc(40px - 12px) 10px 40px;
 background: #fff;
}

a.btn-border-shadow:before {
 position: absolute;
 top: -6px;
 left: -6px;
 width: 100%;
 height: 100%;
 content: "";
 -webkit-transition: all 0.3s ease;
 transition: all 0.3s ease;
 border: 3px solid white;
 border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
 padding: calc(40px - 6px) 10px;
}

a.btn-border-shadow:hover:before {
 top: 0;
 left: 0;
}

a.btn-border-shadow--color {
 border-radius: 0;
}

a.btn-border-shadow--color:before {
 border-radius: 0;
}

a#yellow  {
 background: yellow;
}

a#pink {
 background: #FF5192;
}

/* ========================================================================== */
/* new                                                                        */
/* ========================================================================== */

.new-container {
 width: 100%;
 height: 100%;
 border: 20px solid orange;
 text-align: center;
}

.new-contents {
 width: 500px;
 display: inline-block;
 padding: 120px 0;
 text-align: left;
}

.new-contents h1 {
 font-size: 60px;
 font-weight: bold;
 line-height: 1.2;
 letter-spacing: .1em;
 font-family: DINPro-Bold,sans-serif;
 text-align: center;
}

.new-form {
 padding-top: 40px;
}

.post-field {
 margin-bottom: 20px;
}

.post-field label {
 font-weight: 700;
 font-size: 15px;
 padding-left: 2px;
 padding-bottom: 2px;
}

.required {
 background-color: #f0ad4e;
 color: #fff;
 font-size: 12px;
 font-weight: bold;
 min-width: 10px;
 padding: 3px 7px;
 margin: 0px 5px;
 line-height: 1;
 vertical-align: middle;
 white-space: nowrap;
 text-align: center;
 border-radius: 5px;
 display: inline-block;
}

.explanation {
 color: #94918e;
}

.post-field input {
 height: 50px;
 width: 500px;
 background: #fef7ea;
 border-radius: 0;
 border: 1px solid orange;
 padding: 10px;
}

.post-field input:focus {
 box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
 border: solid 2px orange;
}

.post-field input:after {
 background: #fef7ea;
}

#field-date select {
 border: solid 1px orange;
 background: #fef7ea;
 height: 40px;
 padding: 10px;
}

#field-image input {
 background: #fff;
 width: auto;
 border: none;
}

#field-date select:focus {
 box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
 border: solid 2px orange;
 outline: none;
}

#field-text textarea {
 height: 100px;
 width: 500px;
 background: #fef7ea;
 border-radius: 0;
 border: 1px solid orange;
 padding: 10px;
}

#field-text textarea:focus {
 box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
 border: solid 2px orange;
 outline: none;
}

#field-text textarea:after {
 height: 100px;
 width: 500px;
 background: #fef7ea;
 border-radius: 0;
 border: 1px solid orange;
 padding: 10px;
}

#field-radio_button input {
 display: none;
}

#inline-radio {
 display: flex;
}

#inline-radio label {
 width: 100px;
 height: 50px;
 color: #b6b6b6;
 background: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px solid #d81b60;
}

#field-radio_button input:checked + label {
 background: #d81b60;
 font-weight: 500;
 color: #fff;
}
