<% if flash[:notice] %>
  <div class="flash-message">
    <p id='notice'><%= flash[:notice]%></p>
  </div>
<% elsif flash[:alert]%>
  <div class="flash-message">
    <p id='alert'><%= flash[:alert] %></p>
  </div>
<% end %>